/* You can add global styles to this file, and also import other style files */


@font-face{
    font-family: Sunlife-display-bold;
    src: url(assets/fonts/SunLifeNewDisplay-Bold.ttf) format('truetype');
}

@font-face{
    font-family: Sunlife-display-reguler;
    src: url(assets/fonts/SunLifeNewDisplay-Regular.ttf) format('truetype');
}

@font-face{
    font-family: Sunlife-txt-bold;
    src: url(assets/fonts/SunLifeNewText-Bold.ttf) format('truetype');
}

@font-face{
    font-family: Sunlife-txt-bolditalic;
    src: url(assets/fonts/SunLifeNewText-BoldItalic.ttf) format('truetype');
}

@font-face{
    font-family: Sunlife-txt-italic;
    src: url(assets/fonts/SunLifeNewText-Italic.ttf) format('truetype');
}

@font-face{
    font-family: Sunlife-txt-regular;
    src: url(assets/fonts/SunLifeNewText-Regular.ttf) format('truetype');
}


.Sunlife-display-bold{
    font-family: Sunlife-display-bold
}

.Sunlife-display-regular{
    font-family: Sunlife-display-reguler;
}

.Sunlife-txt-regular{
    font-family: Sunlife-txt-regular;
}

.Sunlife-txt-italic{
    font-family: Sunlife-txt-italic;
}

.Sunlife-txt-bolditalic{
    font-family: Sunlife-txt-bolditalic;
}

.Sunlife-txt-bold{
    font-family: Sunlife-txt-bold;
}
